.grid {
  display: grid;
  gap: 10px;
  /* combine minmax, max-content, min-content, repeat 

  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  */
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));

  grid-auto-rows: 100px;
  margin-bottom: 30px;
}

.item:nth-child(even) {
  background-color: skyblue;
}

.item:nth-child(odd) {
  background-color: teal;
}
