@import "_variables";
@import "_mixins";
@import "_buttons.scss";

.box {
  margin-top: 10px;
  h2 {
    color: $bg;
  }
  button {
    background: red;
  }
  &:hover {
    background-color: green;
  }
}

.mixins a {
  &:nth-child(odd) {
    @include link("odd");
  }
  &:nth-child(even) {
    @include link("even");
  }
}

.extends {
  a {
    @extend %button;
    text-decoration: none;
  }
  button {
    @extend %button;
    border: none;
  }
}
