@import "_variables";
@import "_mixins";
@import "_buttons.scss";
@import "_mixinsContent";

.box {
  margin-top: 10px;
  h2 {
    color: $bg;
  }
  button {
    background: red;
  }
  &:hover {
    background-color: green;
  }
}

.mixins a {
  &:nth-child(odd) {
    @include link("odd");
  }
  &:nth-child(even) {
    @include link("even");
  }
}

.extends {
  a {
    @extend %button;
    text-decoration: none;
  }
  button {
    @extend %button;
    border: none;
  }
}

.mixinsContent {
  h1 {
    @include responsive("iphone") {
      color: yellow;
    }
    @include responsive("iphone-landscape") {
      color: brown;
    }
    @include responsive("ipad") {
      color: teal;
    }
    @include responsive("ipad-landscape") {
      color: tomato;
    }
  }
}
