.grid {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);
  /* grid-auto-rows for new content
  grid-auto-rows: 150px;
  */

  /* grid-auto-flow
  new content's direction */
  grid-auto-flow: column;

  /* grid-auto-column for new content */
  grid-auto-columns: 100px;
}
.item:nth-child(even) {
  background-color: skyblue;
}

.item:nth-child(odd) {
  background-color: teal;
}
