body {
  padding: 20px;
  width: 500px;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.title span {
  font-weight: 900;
}

.title span:nth-child(1) {
  font-size: 65px;
}
.title span:nth-child(2) {
  font-size: 30px;
}

.subtitle {
  display: flex;
  font-size: 9px;
  margin-bottom: 50px;
  font-weight: 900;
  justify-content: space-between;
}

.subtitle__subtitles,
.subtitle__colours {
  display: flex;
  flex-direction: column;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circles__circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 5px;
}

.circles__circle:nth-child(1),
.circles__circle:nth-child(2),
.circles__circle:nth-child(3) {
  background-color: skyblue;
}

.circles__circle:nth-child(4),
.circles__circle:nth-child(5),
.circles__circle:nth-child(6) {
  background-color: gray;
}

.circles__circle:nth-child(7),
.circles__circle:nth-child(8),
.circles__circle:nth-child(9) {
  background-color: tomato;
}
