.grid {
  display: grid;
  gap: 10px;
  grid-template-rows: 100px;
}

.grid:first-child {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid:last-child {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.item:nth-child(even) {
  background-color: skyblue;
}

.item:nth-child(odd) {
  background-color: teal;
}
